.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  width: 100%;
}

.grid-container aside {
  grid-row: 1 / span 10;
}

/* aside {
  width: 100%;
} */

aside div {
  padding: 30px;
}

aside .logo h2 {
  font-size: 1.5rem;
}

aside .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

aside .logo img {
  width: 25%;
}

.primary-menu ul li {
  padding: 1rem;
}

header {
  padding: 30px;
  grid-column: 2 / span 2;
}

main {
  width: 100%;
}
